<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ShivSutra</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" />

  </head>
  
  <body id="index" class="home">
<ul class="examples">
  <li><p class="dev">अg इ उ <span class="bold r">ण्</span></p>
    <p lang="sa">a i u <span class="bold r">ṇ</span></p>
</li>
  <li><p class="dev">ऋ ऌ <span class="bold r">क्</span></p>
    <p lang="sa">ṛ ḷ <span class="bold r">k</span></p>
</li>
  <li><p class="dev">ए ओ <span class="bold r">ङ्</span></p>
    <p lang="sa">e o <span class="bold r">ṅ</span></p>
</li>
  <li><p class="dev">ऐ औ <span class="bold r">च्</span></p>
    <p lang="sa">ai au <span class="bold r">c</span></p>
</li>
  <li><p class="dev">ह य व र <span class="bold r">ट्</span></p>
    <p lang="sa">ha ya va ra <span class="bold r">ṭ</span></p>
</li>
  <li><p class="dev">ल <span class="bold r">ण्</span></p>
    <p lang="sa">la <span class="bold r">ṇ</span></p>
</li>
  <li><p class="dev">ञ म ङ ण न <span class="bold r">म्</span></p>
    <p lang="sa">ña ma ṅa ṇa na <span class="bold r">m</span></p>
</li>
  <li><p class="dev">झ भ <span class="bold r">ञ्</span></p>
    <p lang="sa">jha bha <span class="bold r">ñ</span></p>
</li>
  <li><p class="dev">घ ढ ध <span class="bold r">ष्</span></p>
    <p lang="sa">gha ḍha dha <span class="bold r">ṣ</span></p>
</li>
  <li><p class="dev">ज ब ग ड द <span class="bold r">श्</span></p>
    <p lang="sa">ja ba ga ḍa da <span class="bold r">ś</span></p>
</li>
  <li><p class="dev">ख फ छ ठ थ च ट त <span class="bold r">व्</span></p>
    <p lang="sa">kha pha cha ṭha tha ca ṭa ta <span class="bold r">v</span></p>
</li>
  <li><p class="dev">क प <span class="bold r">य्</span></p>
    <p lang="sa">ka pa <span class="bold r">y</span></p>
</li>
  <li><p class="dev">श ष स <span class="bold r">र्</span></p>
    <p lang="sa">śa ṣa sa <span class="bold r">r</span></p>
</li>
  <li><p class="dev">ह <span class="bold r">ल्</span></p>
    <p lang="sa">ha <span class="bold r">l</span></p>
</li>
</ul>

  </body>
</html>
